body {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #EBEDF3;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
select,
option,
button {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 14px;
}

::placeholder {
    font-size: 14px; /* Ganti dengan ukuran yang diinginkan */
}

.login-box-msg {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 18px;
  }
